@media screen and (max-width: 1200px) {
	.header-title {
		font-size: 6rem;
	}

	section {
		padding: 5rem 0;
		min-height: 50vh;
	}

	.about-img {
		flex-basis: 50%;
		object-fit: cover;
		width: calc(10rem - 50vw);
	}

	.about-text {
		left: 0;
		width: 50%;
	}

	.section-title {
		font-size: 3rem;
		text-align: left;
	}
}

@media screen and (max-width: 950px) {
	#showcase {
		min-height: 60vh;
	}

	header {
		justify-content: center;
		align-items: center;
	}

	.header-title {
		display: inline-block;
		flex-basis: 70%;
		text-align: center;
	}

	.creations-card {
		min-height: 50rem;
	}
}

@media screen and (max-width: 800px) {
	.navlist {
		display: none;
	}

	.menu-icon {
		display: inline-block;
	}

	.menu-icon svg.open {
		display: block;
	}

	.logo {
		padding-left: 3rem;
	}

	.logo a svg {
		width: 25rem;
	}

	#showcase {
		min-height: 70vh;
	}

	#about .row {
		flex-direction: column;
		align-items: center;
	}

	.about-img {
		flex-basis: 100%;
		width: 80%;
	}

	.about-text {
		flex-basis: 100%;
		width: 80vw;
		text-align: center;
	}

	.section-title {
		text-align: center;
		font-size: 4rem;
	}

	.section-para {
		font-size: 2.5rem;
		line-height: 1.6;
	}

	.creations-gallery {
		grid-template-columns: auto;
		grid-template-rows: repeat(1fr);
	}

	.creations-card {
		min-height: 30rem;
	}

	.creations-heading {
		display: block;
	}

	.creations-heading button {
		display: none;
	}

	#creations button.hidden {
		display: flex;
		margin: 3rem auto;
	}

	#footer .container {
		flex-direction: column;
		gap: 3rem;
	}

	#footer .navlist {
		display: flex;
		flex-direction: column;
	}

	.footer-logoLink {
		align-items: center;
	}

	.footer-iconCopyright {
		align-items: center;
	}
}

@media screen and (max-width: 580px) {
  .menu-list {
    padding-left: 2rem;
  }
  
  .menu-list li a {
    font-size: 3rem;
  }
	.logo {
		padding-left: 0;
	}

	.logo a svg {
		width: 20rem;
	}

  .menu-icon svg {
    height: 4rem;
  }

	#showcase {
		position: relative;
	}

	header {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 95%;
	}

	.header-title {
		width: 100%;
		text-align: left;
	}

	.section-title {
		font-size: 4rem;
	}

	.creations-card {
		min-height: 20rem;
	}

	.text {
		font-size: 3rem;
		left: 2rem;
		bottom: 2rem;
	}

	.about-img {
		width: 100%;
	}

	.about-text {
		width: 100vw;
	}
}

@media screen and (max-width: 450px) {
	.header-title {
		font-size: 4.5rem;
	}

	.section-title {
		font-size: 2.5rem;
	}

	.section-para {
		font-size: 1.8rem;
	}

	.creations-card {
		min-height: 13rem;
	}

	.text {
		font-size: 2.5rem;
	}

  .footer-copyright {
    font-size: 1.5rem;
  }
