* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	color: var(--white-color);
}

:root {
	--white-color: rgb(255, 255, 255);
	--black-color: rgb(0, 0, 0);
	--dark-grey-color: rgb(128, 128, 128);
	--darker-grey-color: rgb(105, 105, 105);
	--pry-font: "Alata", sans-serif;
	--sec-font: "Josefin Sans", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	overflow-x: hidden;
}

.container {
	max-width: 140rem;
	margin: 0 auto;
	padding: 0 2rem;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	cursor: pointer;
}

/* MENU NAV FOR MOBILE */
.hidden {
	display: none;
}

#menu-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--black-color);
	z-index: 5;
}

.menu-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 5rem;
	padding-left: 5rem;
}

.menu-list li a {
	font-family: var(--sec-font);
	font-size: 5rem;
	font-weight: 300;
	text-transform: uppercase;
}

/* Hide Menu Icons */
.menu-icon {
	display: none;
}
.menu-icon svg {
	position: relative;
	width: 5rem;
	fill: var(--white-color);
	z-index: 5;
}

.menu-icon svg.open,
.menu-icon svg.close {
	display: none;
}
/* SHOWCASE */
#showcase {
	width: 100vw;
	min-height: 100vh;
	background-image: url(./images/desktop/image-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3rem;
	margin-bottom: 10rem;
}

.logo a svg {
	position: relative;
	width: 15rem;
	height: 4rem;
	fill: var(--white-color);
	z-index: 10;
}

.navlist {
	gap: 2rem;
}

.navlist li a {
	font-family: var(--sec-font);
	font-size: 1.8rem;
	position: relative;
}

.navlist li a::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 0.3rem;
	background-color: white;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%) scale(0);
	transition: all 0.3s;
}

.navlist li a:hover::before {
	transform: translateX(-50%) scale(1);
}

header {
	display: flex;
	justify-content: flex-start;
}

.header-title {
	font-family: var(--sec-font);
	font-size: 8rem;
	font-weight: 300;
	text-transform: uppercase;
	flex-basis: 50%;
	padding: 3rem 1.5rem 1.5rem 1.8rem;
	border: 0.2rem solid #fff;
}

/* SECTION ABOUT */
section {
	width: 100vw;
	min-height: 70vh;
	padding: 10rem 0 5rem 0;
}

#about .row {
	display: flex;
}

.about-text {
	position: relative;
	padding: 6rem;
	text-align: left;
	left: -15rem;
	background: #fff;
}

.section-title {
	font-family: var(--sec-font);
	font-weight: 400;
	font-size: 4rem;
	line-height: 1.4;
	color: darker var(--darker-grey-color);
	margin-bottom: 2rem;
	text-transform: uppercase;
	color: var(--black-color);
}

.section-para {
	font-family: var(--pry-font);
	font-size: 1.5rem;
	color: var(--dark-grey-color);
}

/* SECTION CREATION */
.creations-heading {
	display: flex;
	justify-content: space-between;
}

button {
	width: 15rem;
	height: 4rem;
	color: var(--black-color);
	background: none;
	border: 0.1rem solid var(--black-color);
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: all 0.2s;
}

button:hover {
	background: var(--black-color);
	color: var(--white-color);
}

.creations-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 2rem;
	margin-top: 5rem;
}

.creations-card {
	min-height: 60rem;
	position: relative;
}

.creations-card img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.4s;
}

.creations-card:hover img {
	opacity: 0.4;
}

.text {
	position: absolute;
	bottom: 5rem;
	left: 4rem;
	z-index: 2;
	text-transform: uppercase;
	font-size: 4rem;
	font-family: var(--sec-font);
	font-weight: 300;
}

.text p {
	transition: all 0.4s;
}

.creations-card:hover .text p {
	color: var(--black-color);
}

/* FOOTER */
#footer {
	background-color: var(--black-color);
	color: var(--white-color);
	padding: 2rem 0;
}

#footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logoLink {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1rem;
	gap: 2rem;
}

.footer-iconCopyright {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.footer-copyright {
	font-family: var(--sec-font);
	font-size: 1.8rem;
}

.social-icons {
	display: flex;
	gap: 3rem;
	justify-content: flex-end;
}

.social-icons a {
	display: inline-block;
	position: relative;
}

.social-icons a::before {
	content: "";
	position: absolute;
	width: 70%;
	height: 0.3rem;
	background-color: white;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%) scale(0);
	transition: all 0.3s;
}

.social-icons a:hover::before {
	transform: translateX(-50%) scale(1);
}

.social-icons a svg {
	fill: var(--white-color);
	width: 3rem;
	height: 5rem;
}
